.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.navigation {
  list-style: none;
  margin: 0;
  background: #3D5A80;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}

.navigation .hlink {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
  font-family: 'Overpass Mono';
}

.navigation .hlink:hover {
  background: #CED0CE;
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}
@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }

  .navigation .hlink {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .navigation Link:last-of-type .hlink {
    border-bottom: none;
  }
}
.landing-page-name {
  font-family: 'Bungee Shade';
  font-size: 80px;
  color: #3D5A80;
  animation: landingName  ;
}

@keyframes landingName{ 
  0%{ opacity: 0;}
  100%{ opacity: 100; } 
} 

.abt {
  font-family: 'Arvo';
}

#auto-type-box{
  background-color: white;
  margin: auto;
  height: 100%;
  width: 100%;
  padding-top: 200px;

}

#first-line{
  color: #454545; 
  font-family: 'Overpass Mono';  
  font-size: 20px;
  margin: auto;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: firstLineSmall 5s steps(60, end);

}

@keyframes firstLine{ 
  0%{width: 0%;}
  33%{width: 33%;}
  66%{width: 66%;}
  100%{ width: 100%; } 
} 

@keyframes firstLineSmall{ 
  0%{width: 0%;}
  10%{width: 10%;}
  20%{width: 20%;}
  30%{width: 30%;}
  40%{width: 40%;}
  50%{width: 50%;}
  60%{width: 60%;}
  70%{width: 70%;}
  80%{width: 80%;}
  90%{width: 90%;}
  100%{ width: 100%;} 
}

@media (min-width: @screen-sm-min) {
  #first-line{
    animation: firstLineSmall .95s, steps(60, end);
  }
}

@media (min-width: @screen-md-min) {
  #first-line{
    animation: firstLineSmall 5s, steps(60, end);
  }
}

@media (min-width: @screen-lg-min) {
    animation: firstLineSmall 5s, steps(60, end);

}

.carousel-image{
  margin: auto;
}

 
/* font-family: 'Overpass Mono', monospace;
font-family: 'Kumar One', cursive;
font-family: 'Arvo', serif;
font-family: 'Orbitron', sans-serif;
font-family: 'Righteous', cursive;
font-family: 'Bungee Shade', cursive;
font-family: 'Bungee', cursive;
font-family: 'Bungee Inline', cursive; */